.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circles__column {
  display: flex;
  gap: 10px;
  margin-top: 120px;
  margin-left: -350px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 100px;
  background-color: blueviolet;
}

.circle__left {
  display: flex;
  border: 2px solid transparent;
  border-radius: 100%;
}

.circle__right {
  display: flex;
  gap: 10px;
  margin-left: 150px;
  border: 2px solid transparent;
  border-radius: 100%;
}

.circle__right .circle {
  background-color: yellow;
  /* margin-left: 120px; */
}

.total {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
